.nav-bar {
  display: flex;
  justify-content: center;
  background: var(--color-primary-dark);
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1444px;
  height: 60px;
}

.nav-left {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 40px;
  width: auto;
}

.hamburger {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: var(--color-primary-accent);
  cursor: pointer;
  padding: 0.5rem;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links a {
  color: var(--color-primary-light);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  border: 1px solid transparent;
  transition: border-color 0.2s ease;
}

.nav-links a:hover {
  border-color: var(--color-primary-accent);
  text-decoration: none;
}

.nav-links a.active {
  background-color: var(--color-primary-accent);
  color: var(--color-primary-dark); 
  font-weight: bold;
}

@media (max-width: 768px) {
  .nav-links {
    background-color: var(--color-primary-dark);
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    position: absolute;
    top: 56px;
    right: 0;
    flex-direction: column;
    align-items: right;
    gap: 1.5rem;
    padding: 2rem 1rem;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
  }

  .nav-links.show {
    z-index: 98;
    opacity: 1;
    max-height: 500px;
    pointer-events: all;
    text-align: left;
  }

  .hamburger {
    display: block;
  }
}