.nav-bar {
    background-image: linear-gradient(to bottom right, #161b22, #1e2e45);
    padding-top: 1rem;
    height: 56px;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }
  
  .logo {
    color: #ccd6f6;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #ccd6f6;
    cursor: pointer;
    margin-left: auto;
  }
  
  .nav-links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  
  .nav-links a {
    color: #ccd6f6;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 6px 6px 0px 0px;
    font-weight: 500;
    transition: background 0.2s ease, color 0.2s ease;
  }
  
  .nav-links a:hover {
    background-color: #3e414d;
  }
  
  .nav-links a.active {
    background-color: white;
    color: #1e2e45;
    font-weight: bold;
  }
  
  
      @media (max-width: 768px) {
    .nav-links {
      background-color:rgba(22, 27, 34, 0.8);
      border-radius: 0 0 10px 10px;
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      width: 100%;
      position: absolute;
      top: 56px;
      right: 0;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding: 2rem 1rem;
  
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;
      /* transform: translateY(-10px);
      transition: opacity 0.2s ease, transform 0.3s ease-in-out; */
    }
  
    .nav-links.show {
      z-index: 2;
      opacity: 1;
      max-height: 500px;
      transform: translateY(0);
      pointer-events: all;
    }
  
    .hamburger {
      display: block;
    }
  
    .nav-container {
      position: relative;
    }
  }