.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;
  max-width: 1444px;
  margin: 0 auto;
}

.bio {
  text-align: left;
  font-size: 1.7rem;
}

.hero-image-container {
  flex: 1;
  position: relative;
  height: 500px;
}

.hero-triangle-image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: auto;
  z-index: 1;
}

.hero-image {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: auto;
  z-index: 2;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-logo {
  width: 610px;
  height: auto;
  margin-bottom: 1.5rem;
}

.hero-tagline {
  font-size: 2rem;
  text-align: right;
  line-height: 1.4;
  color: var(--color-primary-dark);
  font-weight: 100;
  letter-spacing: 10px;
  word-spacing: 10px;
}

  .contacts{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2rem;

  }

@media (max-width: 1200px) {

.hero-section {
  display: flex;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  max-height:50dvh;
  overflow: hidden;
}

.bio {
  text-align: left;
  font-size: 1.7rem;
}

.hero-triangle-image {
  position: absolute;
  left: 0;
  max-width: 100%;
  height: auto;
  z-index: 1;
}

.hero-image {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  height: auto;
  z-index: 2;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 35dvw;
  height: 35dvh;
}

.hero-logo {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.hero-tagline {
  font-size: 1.2rem;
  text-align: right;
  line-height: 1.4;
  color: var(--color-primary-dark);
  font-weight: 100;
  letter-spacing: 7px;
  word-spacing: 7px;
}

  .contacts{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2rem;

  }
  

@media (max-width: 600px) {
  .hero-section{
  display: flex;
  padding: 0%;
  flex-direction: column;
  width:100%;
  height: 60dvh;
  gap:0.5rem;
  overflow:visible;
  }

  .bio {
  text-align: left;
  font-size: 1.3rem;
}
  .hero-image-container{
    margin: 0;
    flex:none;
    width: 100%;
    height: 66%;
    justify-content: center;
    
  }

  .hero-triangle-image {
    height: 100%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
  }

  .hero-image {
    height:100%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
  }

  .hero-text {
    width: 100%;
    height: 34%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

  }
  .hero-logo {
    max-height: 50%;
    width: auto;
    object-fit: contain;
  }

  .hero-tagline {
    text-align: center;
    height: auto;
  }
}