.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  padding: 2rem;
  max-width: 1444px;
  margin: 0 auto;
}

.hero-image-container {
  flex: 1;
  position: relative;
  height: 500px;
}

.hero-triangle-image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: auto;
  z-index: 1;
}

.hero-image {
  position: absolute;
  left: 50px;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
  width: auto;
  z-index: 2;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-logo {
  width: 610px;
  height: auto;
  margin-bottom: 1.5rem;
}

.hero-tagline {
  font-size: 2rem;
  line-height: 1.4;
  color: var(--color-primary-dark);
  font-weight: 100;
  letter-spacing: 10px;
  word-spacing: 10px;
}

@media (max-width: 600px) {
  .hero-section{
  padding: 0%;
  flex-direction: column;
  width:100%;
  height: auto;
  overflow:visible;
  gap:0;
  
  }
  .hero-image-container{
    flex:none;
    width: 90dvw;
    height: 33dvh;
    
  }

  .hero-triangle-image {
    height: 100%;
  }

  .hero-image {
    height: 100%;
  }

  .hero-text {
    width: 90dvw;
    height: 17dvh;
  }
  .hero-logo {
    width:100%;
    padding-left: 60px;
    padding-right: 60px;
  }

  .hero-tagline {
    text-align: left;
    font-size: 1rem;
    padding-left: 10px;
  }
}