.img-wrapper {
padding: 0 3rem;
}

.img-wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 1rem auto 2rem auto;
}


.collaborations-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-track {
  background-color: #e4e4e4d0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.slider-track img {
  height: 8rem;
  object-fit: contain;
  opacity: 0.9;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.slider-track img:hover {
  opacity: 1;
  background-color: #ffffffe8;
}

h2{
  margin-bottom: 3rem;
}


@media (max-width: 700px) {

  .slider-track img {
    height: 6rem;
  }

.project-barbaroffa{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;

  }    
/* Desktop Section */
  @media (min-width: 992px) {

.project-barbaroffa{
    position:relative;
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;
    padding-top:30px;
    width: 992px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
}