.nav-scroll {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 1rem;
    padding: 1rem;
    background-color: #161b22;
    border-bottom: 1px solid #30363d;
    scrollbar-width: none; /* Firefox */
}

.nav-scroll::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.nav-scroll a {
    color: #ccd6f6;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 500;
    flex: 0 0 auto;
    transition: background 0.2s ease, color 0.2s ease;
}

.nav-scroll a:hover {
    background-color: #3e414d;
    /* color: #64ffda; */

}


.nav-scroll a.active {
  background-color: #ccd6f6;
  color: #0a192f;
  font-weight: bold;
}


.custom-footer {
    padding: 1.5rem 0;
    background-color: #000000;
    color: #ffffff;
    font-size: 0.9rem;
    border-top: 1px solid #30363d;
}
