:root {
  --color-primary-dark: #0b0b0b;
  --color-primary-light: #ffffff;
  --color-primary-accent: #EE6C4D;
  --color-secondary-dark: #777879;
}

* {
  font-family: 'Inter', sans-serif;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 60px;
}

main{
  flex-grow: 1;
  padding-bottom: 10%;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  z-index: 10;
}

.logo img {
  height: 40px;
  width: auto;
}

.footer {
  bottom: 0;
  letter-spacing: 0px;
  word-spacing: 0px;
  width: 100%;
  padding: 1.5rem 0;
  background-color: var(--color-primary-dark) !important;
  color: var(--color-primary-light) !important;
  text-align: center;
  font-size: 0.7rem;
  border-top: 3px solid var(--color-primary-accent);
}

  .bio{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;

  }

a {
  color: var(--color-primary-accent);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
    text-decoration: underline;
  }

  .wackynav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    gap: 2rem;
  }
  .btn-secondary{
    background-color: var(--color-primary-dark);
    border-radius: 6px;
    color: var(--color-primary-light);
    font-size: 2rem;
  }

  .btn-secondary:hover {
    border-radius: 6px;
    background-color:var(--color-primary-accent);
    color: var(--color-primary-dark);
    font-size: 2rem;
  }

  .btn-tertiary{
    color: var(--color-primary-dark);
      font-size: 2rem;
  }

  .btn-tertiary:hover {
    color: var(--color-primary-dark);
    border-color: var(--color-primary-dark);
  }
  

  .dark-divider-medium {
  background-color: #000;
  color: white;
  text-align: center;
  padding: 1rem 1rem;
}

.dark-divider-medium h2 {
  font-size: 2rem;
  margin: 0;
}

    .wackybox {
      position:relative;
      max-width: 992px;
      margin-left: auto;
      margin-right: auto;
      padding:5dvh 0dvh 10dvh 0dvh;
    }
    .wackybox h1 {
      text-align: center;
    }

        .wackybox p {
      text-align: center;
      font-size: 1.5rem;
    }
    

  /* Desktop Section */
  @media (min-width: 992px) {
     .bio{
      position:relative;
      max-width: 992px;
      margin-left: auto;
      margin-right: auto;
      padding-top:30px;
  }
}