p {
    letter-spacing: 3px;
    word-spacing: 5px;
}

h1 {
    padding-bottom: 20px;
}


.wacky-menu {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    gap: 1rem;
}

.wacky-menu-button {
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
    text-align: center;
    color: var(--color-primary-dark);
}

.wacky-menu-button p {
    color: var(--color-secondary-dark);
    font-weight: 100;
    font-size:smaller;
    letter-spacing: 3px;
    word-spacing: 5px;

}

.wacky-menu-button:hover {
    animation: shake 2s infinite;
}

.description {
    padding-bottom: 5dvh;
    width: 80%;
    max-width: 750px;
}

@keyframes shake {
    10% { transform: scale(1.05) rotate(5deg); }
    20% { transform: scale(1.05) rotate(-5deg); }
    30% { transform: scale(1.05) rotate(5deg); }
    40% { transform: none; }
