
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Arnaldo Pangia{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <nav class="custom-nav">
    <a href="{{ url_for('index') }}">Home</a>
    <a href="{{ url_for('webapps') }}">Web Apps</a>
    <a href="{{ url_for('contact') }}">Contatti</a>
    <a href="{{ url_for('other') }}">Other Projects</a>
  </nav>

  <div class="container mt-4">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
