
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Arnaldo Pangia{% endblock %}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>


{% set path = request.path %}

  <nav class="nav-scroll">
  <a href="{{ url_for('index') }}" class="{% if path == '/' %}active{% endif %}">Home</a>
  <a href="{{ url_for('webapps') }}" class="{% if path == '/webapps' %}active{% endif %}">Web Apps</a>
  <a href="{{ url_for('contact') }}" class="{% if path == '/contact' %}active{% endif %}">Contatti</a>
  <a href="{{ url_for('other') }}" class="{% if path == '/other' %}active{% endif %}">Other Projects</a>
  <a href="{{ url_for('wacky') }}" class="{% if path == '/wacky' %}active{% endif %}">Wacky Code</a>
  </nav>

  <div class="container mt-4">
    {% block content %}
    {% endblock %}
  </div>

</body>


<footer class="footer">
  

   <p>&copy; {{ current_year }}  Arnaldo Pangia — Built with <strong>Python</strong>, <strong>Flask</strong> & <strong>CSS</strong></p>
</footer>
</html>
