{% extends 'base.html' %}
{% block content %}


<div class="container">
  <div class="wackybox">
	  <h1> Ausländer im Burgeramt</h1>
	  <hr class="solid">
      <p class ="auslander"> - Guten Tag! {{data.part1}}, Ich {{data.part2}} nur ein bisschen Deutsch! </p>
      <p class ="clerk"> - Naja, wat willste denn? Siehste, hier kommste nich einfach so rein, wa?</p> 
      <p class ="auslander"> - ...Eh?! Uh...Ich {{data.part3}} ein {{data.part4}} </p> 
      <p class ="clerk"> - Haste die {{data.part5}} mitjebrach? </p> 
      <p class ="auslander"> - {{data.part6}}! {{data.part7}}?  </p>
      <p class ="clerk"> - Ohne {{data.part5}} kann Ick nix machen. Mach dir einen neuen Termin aus und komm später wieder. <br>  Nächster! Zack zack!</p> 
  </div>
  {% include 'wackynav.html' %}
 
{% endblock %}
