{% extends 'base.html' %}
{% block content %}


<div class="container">
  <div class="jumbotron">
    <h1>
      <center> HR Rejection Generator </center>
    </h1>
    <hr class="solid">
    <p> {{data.hr_part1}} Arnaldo,
      <br> {{data.hr_part2}} that you {{data.hr_part3}} to this application.
    <p> {{data.hr_part4}} we cannot proceed with your recruiting process this time.
    <p> Please note that our decision was not based on your capabilities, but rather with your compatibility with the
      open position.
      <br> {{data.hr_part5}}
    <p> {{data.hr_part6}} your future work endeavours.
    <p> Best regards,

    </div>
  </div>
  {% include 'wackynav.html' %}
</div>
</div>
</div>
</div>
{% endblock %}