{% extends 'base.html' %}
{% block title %} Arnaldo Pangia{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
<section class="hero-section">
  <div class="hero-image-container">
    <img src="/static/pictures/triangle.svg" alt="" class="hero-triangle-image">
    <img src="/static/pictures/arnaldohero.png" alt="Arnaldo Pangia" class="hero-image">
  </div>
  <div class="hero-text">
    <img src="/static/pictures/logo.png" alt="Arnaldo Pangia" class="hero-logo">
    <p class="hero-tagline">Brand Tech+<br> AI, and Automation</p>
  </div>
</section>

</section>

  <div class="bio">
    <p>
      <ul>
      <li>I do Marketing, Content, and Automation.</li>
      <li>I bridge the gaps between tech, analytics, and creativity.</li>
      <li>I am fluent in 5 languages: 🇬🇧 🇮🇹 🇫🇷 🇩🇪 🇨🇳 </li>
      </ul>
          </p>
  </div>
<section class="dark-divider-medium">
        <h1>Can I help you?</h1>
</section>
<div id="contacts" class="contacts">
  <h1><a href="mailto:info@arnaldopangia.com">info@arnaldopangia.com</a></h1>
</div>


  
{% endblock %}
