{% extends 'base.html' %}
{% block title %} Arnaldo Pangia{% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<section class="hero-section">
  <div class="hero-text">
  <h1>Arnaldo Pangia</h1>
  <div class="hero-payoff">
  <h3> Making more with Less</h3>
  <p> I am a tech marketer,<br> content creator, polyglot</p>
  </div>
</div>
</section>
<section class ="hero-section-mobile">
  <div class="hero-text-mobile">
    <h1>Arnaldo Pangia</h1>
    <div class="hero-payoff-mobile">
      <h4> Making more with Less</h4>
      <p> I am a tech marketer, content creator, polyglot</p>
      </div>
      </div>
    </section>
    
  <div class="bio">
    <p>
      I bridge the gap between <strong>content</strong>, <strong>tech</strong>, and <strong>stakeholders</strong>.
    </p>
    
    <p>
      With a background in <strong>business mediation</strong> and <strong>simultaneous interpreting</strong>, I’ve spent the last 
      <strong>10 years</strong> creating high-volume content while managing projects across languages, teams, and tools.
    </p>
    
    <p>
      I combine a <strong>strategic mindset</strong> with <strong>technical execution</strong>, building 
      <strong>data-driven marketing systems</strong>, automating workflows, and translating complexity into clarity.
    </p>
    
    <p>
      I work fluently in <strong>Italian</strong>, <strong>English</strong>, <strong>French</strong>, 
      <strong>German</strong>, and <strong>Mandarin</strong>, and speak both <strong>SQL</strong> and <strong>Python</strong> when needed.
    </p>
  </div>

  
{% endblock %}
