{% extends 'base.html' %}
{% block title %} Testing title {% endblock %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<section class="hero-section">
  <div class="hero-text">
  <h1>Arnaldo Pangia</h1>
  <div class="hero-payoff">
  <h3> Making more with Less</h3>
  <p> I am a tech marketer,<br> content creator, polyglot</p>
  </div>
</div>
</section>
<section class ="hero-section-mobile">
  <div class="hero-text-mobile">
    <h1>Arnaldo Pangia</h1>
    <div class="hero-payoff-mobile">
      <h4> Making more with Less</h4>
      <p> I am a tech marketer, content creator, polyglot</p>
    </section>
  <section class="body">
    <p> I help bridging the gap between <b>tech</b>, <b>product,</b> and <b>marketing</b>.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc consequat porttitor ex, eget bibendum dolor eleifend sit amet. Nullam id finibus libero. Mauris nisl ante, congue mollis leo id, suscipit pellentesque urna. Maecenas vulputate molestie lorem eget rhoncus. Cras sapien leo, elementum nec neque et, egestas dapibus orci. Ut a felis risus. Duis nec ultrices neque. Vestibulum sed porta tortor, sed faucibus risus. Suspendisse potenti. Integer viverra dapibus nibh ut egestas.

      Integer eleifend ornare dui a accumsan. Nullam pharetra nunc in consequat dictum. Aenean at elit vel diam commodo suscipit ac eget lorem. Phasellus nibh arcu, accumsan non feugiat vitae, iaculis molestie neque. Nulla est ante, vehicula tristique pharetra eu, gravida ut tellus. Fusce a condimentum diam, ac imperdiet nisl. Vestibulum vestibulum, quam in scelerisque rutrum, tortor nunc ultrices quam, ac pretium ligula libero tempus dolor. Mauris dapibus, turpis ut viverra finibus, massa odio faucibus eros, quis gravida mi mauris vel quam. Mauris quam est, facilisis ut consequat sed, tempor in sapien. Mauris et nulla rutrum, sagittis justo eu, iaculis magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In quis pellentesque libero.
      
      Vivamus dignissim sed magna at venenatis. Aliquam ullamcorper quam elementum venenatis hendrerit. In orci lectus, blandit at sollicitudin nec, consectetur consequat leo. Integer ullamcorper ligula a eros tristique tempor eu et magna. Maecenas sed venenatis eros. Nunc non semper nulla, vitae consectetur arcu. Integer vehicula vitae dui non feugiat. Aenean ligula risus, feugiat vitae augue nec, interdum ullamcorper lectus.
      
      Sed et hendrerit risus, eget dignissim leo. Proin scelerisque justo a lorem sagittis, eget dapibus metus tristique. Donec feugiat, libero id congue dignissim, sem quam auctor nulla, in vulputate mauris tellus eget nunc. Proin et tellus lobortis, sollicitudin est eget, finibus sapien. Fusce euismod volutpat felis rhoncus pharetra. Nunc in euismod felis. Aenean fermentum pharetra hendrerit.
      
      Curabitur in maximus enim. Donec varius odio id turpis gravida volutpat. Morbi molestie auctor est pretium posuere. Phasellus efficitur odio non ullamcorper ullamcorper. Nulla non ante vel ex hendrerit rhoncus. Nullam vulputate orci ac nisl mollis, sed auctor risus placerat. Mauris varius risus suscipit erat feugiat, eget aliquet est congue. Integer et leo vel turpis ultrices congue.</p>
  </section>
{% endblock %}
