{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/wacky.css') }}">
<div class = "description">
  <h1>Wacky Code</h1>
  <p>A collection of <b>high-effort</b>, <b>low-impact apps</b>. <br>
The apps are coded in Python and run on Flask, natively rendered through JavaScript, HTML, and CSS.<br>
<b>Full-stack</b> because I'm <b>smart</b>. <br>(or for lack of better words)</p>
  </div>
<div class="wacky-menu">
  <a href="{{ url_for('phrasal_verb') }}" class="wacky-menu-button">
    <h2>Phrasal Verb generator</h2>
    <p>English phrasal verbs are made up. <br>Change my mind.</p>
  </a>

  <a href="{{ url_for('hrrejection') }}" class="wacky-menu-button">
    <h2>HR Rejection generator</h2>
    <p>In case you needed to read more of these...</p>
  </a>

    <a href="{{ url_for('burgeramt') }}" class="wacky-menu-button">
    <h2>Ausländer im Bürgeramt</h2>
    <p>Nur Deutsch, bitte!</p>
  </a>

    <a href="{{ url_for('seinfeld_opening') }}" class="wacky-menu-button">
    <h2>Seinfeld Opening 2020</h2>
    <p>Old references for a crazy year.</p>
  </a>
</div>
</body>
</html> 

{% endblock %}